decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/v18/DocumentLayout.json
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/v18/.wsuo
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/FileContentIndex/d5b5a27e-f804-467a-ad1d-011463c22ace.vsidx
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/FileContentIndex/ab38c603-934d-49ba-a8fe-236dccbfdbff.vsidx
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/FileContentIndex/4c288219-7e7d-453b-933b-29c11ad97c6a.vsidx
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/FileContentIndex/30412dd0-85ab-40c7-9de7-48b5b1645787.vsidx
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/FileContentIndex/21f2b71d-8910-4e19-9bc0-7f09dfd42671.vsidx
decompiled scripts - enhanced/.vs/slnx.sqlite
decompiled scripts - enhanced/.vs/ProjectSettings.json
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/v18/Browse.VC.opendb
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/v18/Browse.VC.db-wal
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/v18/Browse.VC.db-shm
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/v18/Browse.VC.db
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/FileContentIndex/eff1daeb-4695-4d0d-a261-f522c7f3ee2a.vsidx
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/FileContentIndex/b6ac5686-441c-4bdb-ad1c-81944e6cb345.vsidx
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/FileContentIndex/9b76ecd9-e816-4a7b-b64d-0e1bc7e913a8.vsidx
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/FileContentIndex/752e6a14-5f39-4045-bc77-cf22f796a14e.vsidx
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/FileContentIndex/72261779-4f91-4537-8585-8f6e9f7db4a6.vsidx
decompiled scripts - legacy/.vs/VSWorkspaceState.json
decompiled scripts - legacy/.vs/slnx.sqlite
decompiled scripts - legacy/.vs/ProjectSettings.json
decompiled scripts - legacy/.vs/decompiled scripts - legacy/v18/workspaceFileList.bin
decompiled scripts - legacy/.vs/decompiled scripts - legacy.slnx/v18/Browse.VC.db
decompiled scripts - enhanced/.vs/VSWorkspaceState.json
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced/v18/workspaceFileList.bin
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/v18/DocumentLayout.json
decompiled scripts - enhanced/.vs/decompiled scripts - enhanced.slnx/v18/.wsuo
